<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>简易云主页</title>
    <script th:src="@{static/js/jquery-3.3.1.js}"></script>
    <script th:src="@{static/js/bootstrap.js}"></script>
    <script th:src="@{static/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/cloud.css}">
</head>
<body>
<div class="navbar">
    <img th:src="@{static/img/logo.png}" th:width="240px" th:height="40px" th:alt="logo.png">

    <ul class="nav right-container">
        <li><a class="cloud-nav-item" th:href="'#'">关于</a></li>
        <li><a class="cloud-nav-item" th:href="'#'">下载客户端</a></li>
        <li><a class="cloud-nav-item" th:href="'#'">注册</a></li>
        <li><a class="cloud-nav-item" th:href="@{/login}">登录</a></li>
    </ul>


</div>
</body>
</html>